* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 100rem;
    border-right: 0.25rem solid grey;
    padding-top: 1rem;
}

nav header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.10rem;
    padding-top: 1rem;
}

nav ul li {
    border-top: 0.25rem solid grey;
    padding-left: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: background-color 0.25s;
}

nav ul li:last-of-type {
    border-bottom: 0.25rem solid grey;
}

nav ul li:hover {
    background-color: grey;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: color 0.25s;
    transition: font-weight 0.25s;
}

nav ul li a:hover {
    color: blue;
    font-weight: bold;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

main section {
    margin-top: 10rem; 
}

main section:first-of-type {
    margin-top: 0;
}

main section:last-of-type {
    margin-bottom: 1rem;
}

main section header {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
}

main section header:first-of-type {
    padding-top: 1rem;
}

li {
    padding: 0.5rem 0 0.5rem 0;
}

p {
    padding: 0.5rem 0 0.5rem 0;
}

div.code-elements {
    margin-top: 1.5rem;
}

@media (max-width: 769px) {
    nav {
        width: 50rem;
    }

    nav header {
        font-size: 1rem;
    }

    nav ul {
        font-size: 0.55rem;
    }
}

section:nth-of-type(4) article p:nth-last-of-type(2) {
    background-color: lightgrey;
    border-radius: 0.3rem;
    width: 30%;
}